body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(back3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: 0 166px;
}

.header {
    height: 100vh;
    
}


.header-line {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    display: flex;
    align-items: center;
    margin-top: 60px; 
    margin-left: 20px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 23px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #105778;
}

.about {
    margin-top: 50px; 
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.about-title {
    font-family: 'Tinos', serif;
    color: #003249;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 21px auto;
}

.about-desc {
    color: #656363;
    font-size: 20px; 
    text-align: center;
    margin: 0 auto 21px auto;
    line-height: 1.5; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.gallery-item {
    width: 300px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.cook {
    padding-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.cook-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #003249;
}

.cook-title span {
    color: #D67E34;
}

.cook-content {
    display: flex;
    justify-content: space-around;
}

.chef {
    text-align: center;
}

.chef img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.chef p {
    font-size: 20px;
    color: #003249;
}
